@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-SemiBold.ttf);
}

*{
    font-family: comfortaa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}


.nav{
    background-image: url("portfolioNavBackg.png");
    background-position: 0px 66%;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
 
}

.navGrid{
    display: grid;
    position: sticky;
    top: 0;
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 2%;
    grid-template-columns: 23% 20% 30%;
    column-gap: 225px;
    z-index: 2 ;
    background-color: transparent;
    place-items: center;
    justify-content: center;
    align-items:end;
}


#navBar{
    text-decoration: none;
    margin-left: 60px;
    margin-top: 20%;
    height: 50%;
    font-weight:bolder;
    font-size: x-large;
    color:#f8a3cc;
}


#navBar:visited{
    text-decoration:underline;
    color: #fca8d0;
}

#navBar:hover{
    text-decoration: none;
    background-color: #fca8d0;
    border: 10px solid #fca8d0;
    border-radius: 20%;
    color: #f3ebe4 !important;
}

.backG{
    background-color:#f6cfcc;
}


.nameHolder{
    display:grid;
    margin: 0px 20px 0px 350px;
    font-size: x-large;
    height:100px;
    row-gap: 200;
}


.namef{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1 ;
    grid-column-end: 1;
    height: 50px;
    color: #fca8d0;
    text-shadow: 5px 1px #f3ebe4;
    width: 325px;
}

.namel{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #fca8d0;
    text-shadow: 5px 1px #f3ebe4;
    margin-left: 95px;
    width:250px;
}

.pinkLine{
    height: 1px;
    border: 0;
    border-top: 8px solid #f8a3cc;
    background-color: #f8a3cc;
    color: #f8a3cc;
    width: 60.6%;
    margin-left: 20.5%;
    position: sticky;
    top:11%;
    
}

.myPhoto{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width:130px;
    height:100px;
    margin-left:19%;
}

.myPic{
    width:95px;
    height:90px;
    object-fit:contain;
    margin-top: 5px;
}

.stickyElems{
    display: grid;
    justify-content: center;
    column-gap: 63%;
    margin-left: 2%;
    height:0px;
    position: sticky;
    top:14%;
}

.stickyStarOne{
    grid-column-start: 1;
    grid-column-end: 1 ;
    grid-row-start: 1;
    grid-row-end: 1;
    width:60px;
    height: 45px;
    position: relative;
    bottom:15px;

}

.stickyStarTwo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width:60px;
    height: 45px;
    position: relative;
    bottom:15px;
    margin-right:15px;

}

.foreBackg{
    background-color:#f2dfc8;
    margin: 0px 19.1% 0px 20.5%;
    height: 100%;
}

.aboutMeBox{
    display:grid;
    column-count: 3;

}

.aboutMeHeader{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 40%;

}

.aboutMePar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    
}

.eduAndExpBox{
    display: grid;
    grid-template-columns: 3;
}

.eduAndExp{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 28%;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 5px;
}

.eduAndExpPar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.innerList{
    margin-left: 40px;
    margin-top: 5px;
}

.innerListExpl{
    margin-left: 80px;
    margin-top: 3px;
}

.skills{
    font-size: 130%;
}


.projectBox{
    display: grid;
    column-count:3;  
}

.project{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 40%;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 5px;
}


.projectPar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.contactBox{
    display: grid;
    grid-template-columns: 3;
    height: max-content;
}

.contact{

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 37%;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 5px;   
}

.contactPar{
grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px 3% 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    justify-content: center;
    width: 94%;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;

}

.bulletP{
    height: 20px;
}

.formBox{
    display: grid;
    height: max-content;
    margin-bottom: 2%;
}

.emailBox{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1 ;
    grid-row-end: 1;
    margin-left: 30%;
    column-gap: 10%;
}

.subjectGridBox{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 1;
}

.messageGridBox{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 2;
    margin-left: 15%;
}

.sendButtonBox{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3 ;
    grid-row-end: 3;
}

.yourEmail{
    border: 3px solid #fca8d0;
}

.subjectBox{
    border: 3px solid #fca8d0;
    max-width: 250px;
}

.messageBox{
    border: 3px solid #fca8d0;
    resize:both;
    min-width: 70%;
    max-width: 400px;
    min-height: 25px;
    max-height:100px;
}

.sendButton{
    color: #f3ebe4;
    border: 3px solid #fca8d0;
    background-color: #fca8d0;
    height: 120%;
    width: 40%;
}

.bottomFooter{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fca8d0;
    color:#f3ebe4;
    font-size: x-large;
}